<div class="container"><br><br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ">
      <div class="panel panel-default">
        <div class="panel-heading center">
          <h2>Create new trip</h2>
        </div>
        <div class="panel-body">


        <%= form_for @trip do |c| %>
            <div>
              <%= c.label :name, "Name",class: "form-text-header" %>
              <%= c.text_field :name, :placeholder => "ex. Gettin wild with Chief Keef", class: "form-control" %>
            </div>

            <div>
              <%= c.label :destination, "Destination", class: "form-text-header" %>
              <%= c.text_field :destination, :placeholder => "ex. Chicago", class: "form-control" %>
            </div>

            <div><br>
              <%= c.label :start_date, "Start Date", class: "form-text-header" %><br>
              <%= c.date_select :start_date,  class: "form-control" %>
            </div>

            <div><br>
              <%= c.label :end_date, "End Date", class: "form-text-header" %><br>
              <%= c.date_select :end_date,  class: "form-control" %>
            </div>

            <div><br>
              <%= c.label :price_range, "Price Range", class: "form-text-header" %>
              <%= c.text_field :price_range, :placeholder => "$", class: "form-control" %>
            </div>
            

            <div><br><br>
            <%= c.label :avatar, "Trip Avatar", class: "form-text-header" %><br />
          <%= image_tag(@trip.avatar, :size => "400x400") %><br><br>
            
            <%= c.file_field :avatar %>
          </div>

            <div><br><br>
              <%= label :email, "Tag a friend", class: "form-text-header"  %>
              <%= text_field :friend, :email, :placeholder => "friends email",  class: "form-control" %>
            </div>

            <div><br><br>
              <%= c.submit "Submit", class: "btn btn-primary form-control" %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>