<%= form_for [@user, @trip] do |f| %>

    <%= f.fields_for :trip_attributes do |c| %>
    <div>
      <%= c.label :name, "Name" %>
      <%= c.text_field :name %>
    </div>

    <div>
      <%= c.label :destination, "Destination" %>
      <%= c.text_field :destination %>
    </div>

    <div>
      <%= c.label :start_date, "Start Date" %>
      <%= c.date_select :start_date %>
    </div>

    <div>
      <%= c.label :end_date, "End Date" %>
      <%= c.date_select :end_date %>
    </div>

    <div>
      <%= c.label :price_range, "Price Range" %>
      <%= c.text_field :price_range %>
    </div>

    <div>
      <%= label :email, "Friend" %>
      <%= text_field :friend, :email %>
    </div>

    <div>
      <%= c.submit "Submit" %>
    </div>
<% end %>

<%#= f.submit "My Trips!" %>
<% end %>