<div class="container"><br><br>
<h1>Trip Snapshots</h1>
<h4>Check out all the listings below for inspiration!</h4>
  <div class="row">

		<div>
		  <% @trips.each do |a| %>
		  <div class="col-md-3 panel all-listing">
		       <%= image_tag(a.avatar, :size => "80x80") %><br>
		        
		        <h4>Trip Name:</h4>	<%= a.name  %><br>
		        <%= a.start_date  %><br>
		        <%= a.end_date  %><br>
		        <%= a.destination  %><br>
		        <% if user_signed_in? %>
					<%= link_to "Edit", trip_path(a.id)  %><br>
				<% end %>

		      <br></div>
		  <% end %>

		</div>
	</div>
</div>

<br><br><br>
<p>Here is a list of recently added trips. </p>
<br><br><br>


<%= link_to "Add New Trip", new_trip_path %>
<%#= link_to "Edit", edit_activity_path %>
