<div class="trips-bg">
<div class="container"><br><br>
<div class="text-header-trips">
<h1>Trip Snapshots</h1>
<h4>Check out all the listings below for inspiration!</h4>
<%= link_to "Add New Trip", new_trip_path, class: "btn btn-warning" %>

</div>
  <div class="row">

		<div>
		  <% @trips.each do |a| %>
		  <div class="col-md-3 panel all-listing"><br>
		       <%= image_tag(a.avatar, :size => "140x140") %><br>
		        
		        <h4>Trip Name:</h4><%= a.name  %><br>
		        <h4>Destination:</h4><%= a.destination  %><br>
		        <h4>Travel Start Date:</h4><%= a.start_date  %><br>
		        <h4>Trip End Date:</h4><%= a.end_date  %><br>
		        

		      <br></div>
		  <% end %>

		</div>
	</div>
</div>

<%= link_to "Add New Trip", new_trip_path, class: "btn btn-primary form-control" %>
<%#= link_to "Edit", edit_activity_path %>
</div>