<h1>TRIPS SHOW PAGE</h1>

<%= @trip.name %><br>
<%= @trip.destination %><br>
<%= @trip.start_date %><br>
<%= @trip.end_date %><br>
<% @trip.users.each do |u| %>
    <%= u.name %>
<% end %>

<h2>Add an activity</h2>

<%= @comment %>




<%= link_to "Back", trips_path %>
<%= link_to "Edit", edit_trip_path %>
