

<h1>Hello <%= current_user.name %>, welcome to your TREKR profile page!</h1>



<div>
  <% current_user.trips.each do |a| %>
      <li>
       <%= image_tag(a.avatar, :size => "80x80") %><br>
        
        <%= a.name  %><br>
        <%= a.start_date  %><br>
        <%= a.end_date  %><br>
        <%= a.destination  %><br>
        <% if user_signed_in? %>
			<%= link_to "Edit", trip_path(a.id)  %><br>
		<% end %>

      </li><br>
  <% end %>

</div>


<% current_user.trips.each do |a| %>
      <li>
       <%= image_tag(a.avatar, :size => "80x80") %><br>
        
        <%= a.name  %><br>
        <%= a.start_date  %><br>
        <%= a.end_date  %><br>
        <%= a.destination  %><br>
        <% if user_signed_in? %>
			<%= link_to "Edit", trip_path(a.id)  %><br>
		<% end %>

      </li><br>
  <% end %>






<%= image_tag(current_user.avatar, :size => "100x100") %>
<br>

<h4>Home city: <%= current_user.home_city %></h4>

<h4>Current trips: <%#= current_user.trip.name %><h4>
<br><br>
<%= link_to "Add New Trip", new_trip_path %>

