

<h1>Hello <%= current_user.name %>, welcome to your TREKR profile page!</h1>

<%= image_tag(current_user.avatar, :size => "100x100") %>
<br>

<h4>Home city: <%= current_user.home_city %></h4>

<!-- <h4>Current trips: <%#= @user.trip each %> -->
<!-- <%#= t.name %> <%#= t.destination %> from <%#= t.start_date %> to <%#= t.end_date %> -->
<%# end %>
<!-- <h4> -->


<%= link_to "Click here to edit your profile page", edit_user_registration_path %>
<br>

<%= link_to "Click here to create a new group trip", new_trip_path %>