

<h1><%= current_user.name %>, welcome to your TREKR profile page!</h1>
<br>


<br>

<h2>Home city: <%= current_user.name %></h2>


<h3>Your trips:</h3>
<div>
  <% current_user.trips.each do |a| %>
      <li>
       <%= image_tag(a.avatar, :size => "80x80") %><br>
        
        <%= a.name  %><br>
        <%= a.start_date  %><br>
        <%= a.end_date  %><br>
        <%= a.destination  %><br>
        <% if user_signed_in? %>
			<%= link_to "Edit", trip_path(a.id)  %><br>
		<% end %>

      </li><br>
  <% end %>

</div>


<%= link_to "Go to your updated profile page", users_edit_path %>