<h1>Your Activities</h1>

<p>Here is a list of your activity(ies).  </p>

<div>
	<% @activities.each do |a| %>
	<li>
		<%= link_to a.name, activity_path(a.id)  %><br>
		<%= a.address  %><br>
		<%= a.date_start  %><br>
		<%= a.date_end  %><br>
		<%= a.description  %><br>
		<%= a.cost  %><br>
	</li><br>
		<% end %>

</div>

	<%= link_to "Add New Activity", new_activity_path %>
	<%#= link_to "Edit", edit_activity_path %>

