<h1>You and your friends want to go to the <%= @activity.name %>!</h1>

<%= @activity.name %><br>
<%= @activity.address %><br>
<%= @activity.date_start %><br>
<%= @activity.date_end %><br>
<%= @activity.description %><br>
<%= @activity.cost %><br>

<%#= link_to "Edit", edit_activity_path(a) %>

<%= link_to "Click here to edit details of this activity", edit_activity_path %>
<br>
<br>
<%= link_to "Click here to go back to all of your activities", activities_path %>